.arrdeptime {  font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; text-transform: none; color: #F8FA2B}
.progresswhite {  font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; text-transform: none; color: #FFFFFF}
.progresswhitenorm {  font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; text-transform: none; color: #FFFFFF}
.progresslate {  font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; text-transform: none; color: #56A36B; text-decoration: blink}
.progressontime {  font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; text-transform: none; color: #FFFFFF}
.progress_station_name {  font-family: Arial, Helvetica, sans-serif; font-size: 24px; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; text-transform: none; color: #FFFFFF; text-decoration: none}
.progress_clock {  font-family: Arial, Helvetica, sans-serif; font-size: 24px; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; text-transform: none; color: #FFFFFF; text-decoration: none}
.progress_yellow {  font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; text-transform: none; color: #F8FA2B; text-decoration: none}
.progress_calling { font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; text-transform: none; color: #FFFFFF; text-decoration: blink }

.Arr {  font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; text-transform: none; text-align: center; color: #FFFFFF}
.Dep {  font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; text-transform: none; text-align: center; color: #FFFFFF}
.Exp {  font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; text-transform: none; text-align: center; color: #FF0000}
.Early {  font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; text-transform: none; text-align: center; color: #66FFFF}
.OnTime {  font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; text-transform: none; text-align: center; color: #FFFFFF}
.Cancelled {  font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; text-transform: none; text-align: center; color: #FF0000; text-decoration: blink}
.Delayed {  font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; text-transform: none; text-align: center; color: #FF0000; text-decoration: blink}
.PlannedPlatform {  font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; text-transform: none; text-align: center; color: #FFFFFF}
.ChangePlatform {  font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; text-transform: none; text-align: center; color: #FF0000; text-decoration: blink}
.Operator {  font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; text-transform: none; text-align : center; color: #FFFFFF}
.HeadingsClass {  font-family: Arial, Helvetica, sans-serif; font-size: 15px; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; text-transform: none; text-align: center; color: #FFFFFF}
.Origin {  font-family: trebuchet, "trebuchet ms", arial, helvetica, sans-serif; font-size: 18px; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; text-transform: none; color: #FFFFFF}
.Dest {  font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; text-transform: none; color: #FFFFFF}
.TitleClass {  font-family: trebuchet, "trebuchet ms", arial, helvetica, sans-serif; font-size: 24px; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; text-transform: none; color: #FFFFFF; text-decoration: none; padding-top:20px; padding-bottom: 15px; padding-left: 10px;}
.SlbRef {  font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; text-transform: none; color: #FFFFFF; padding-bottom: 10px;}
.DetailText {  font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; text-transform: none; color: #FFFFFF}
body {  background-color: #000066; background-position: left top; font-family: Arial, Helvetica, sans-serif; color: #FFFFFF}
.headerHeight {  font-family: trebuchet, "trebuchet ms", arial, helvetica, sans-serif; font-size: 24px; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; text-transform: none; color: #FFFFFF; text-decoration: none}
.tableContent {text-align: center !important; padding-bottom: 5px;}
.tableHeader {display: block; unicode-bidi: isolate; margin-block-start: 0.5em; margin-block-end: 0.5em; margin-inline-start: auto; margin-inline-end: auto; overflow: hidden; border-style: inset; border-width: 1px;}
a:visited, a:link
{
    color: cyan;
}

a.control, a:visited.control
{  
    color: #CCCCFF; 
    text-decoration: none; 
    font-weight: bold; 
    font-family: trebuchet, "trebuchet ms", arial, helvetica, sans-serif;
    max-width : 100%;
}

a:hover 
{  
    color: #CCCCFF; 
    text-decoration: underline; 
    
}

.CallingAt { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; text-transform: none; color: #CCFFCC; padding:2px;}
.hidden { position:relative;background-color:transparent; padding:0px; visibility:visible; }
.CallingPoints { background-color:#0000AA; padding:5px; }

.TriangleColour
{
    color: yellow;
}
div.overwrite_sn_paged
{
    text-align: center;
    font-size: 24px;
    overflow: hidden;
}

a:hover
{
    text-decoration: underline;
}
[id*="SvgContainer"]
{
    display : block;
    position : relative;
    float : left;
    white-space : nowrap;
    min-width : 96%;
}

td
{
    max-width : 96vw;
    overflow: hidden;
}


hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}